<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Dynamic_Project1</display-name>
  
  <!-- 
  <servlet>
  
  <servlet-name>math</servlet-name>
  <servlet-class>com.Math.MathOpServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  
  <servlet-name>math</servlet-name>
  <url-pattern>/math</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  
  <servlet-name>Product</servlet-name>
  <servlet-class>com.Math.ProductServlet</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>Product</servlet-name>
  <url-pattern>/Product</url-pattern>
  
  </servlet-mapping>
  
   
   
   
   <servlet>
   
   <servlet-name>Form</servlet-name>
   <servlet-class>com.StudentForm.StudentFrom</servlet-class>
   
   </servlet>
  <servlet-mapping>
  
  <servlet-name>Form</servlet-name>
  <url-pattern>/StudentForm</url-pattern>
  
  </servlet-mapping>
 
  
  
  
  
  
  <servlet>
  <servlet-name>Employee</servlet-name>
  <servlet-class>com.Employee.EmployeeSer</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Employee</servlet-name>
  <url-pattern>/EmpServ</url-pattern>
  </servlet-mapping>
  

  <servlet>
  <servlet-name>EmployeeE</servlet-name>
  <servlet-class>com.Employee.Employee2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>EmployeeE</servlet-name>
  <url-pattern>/EmpData</url-pattern>
  </servlet-mapping>
   -->
   
   <servlet>
   		<servlet-name>Cookie</servlet-name>
   		<servlet-class>com.SessionCookie.CookieServ</servlet-class>
   </servlet>
   <servlet-mapping>
   		<servlet-name>Cookie</servlet-name>
   		<url-pattern>/Cookie1</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
   		<servlet-name>Cookie2</servlet-name>
   		<servlet-class>com.SessionCookie.CookieServ2</servlet-class>
   </servlet>
   <servlet-mapping>
   		<servlet-name>Cookie2</servlet-name>
   		<url-pattern>/Cookie2</url-pattern>
   </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>